
.mapboxgl-marker {
  background-image: url("/static/assets/pin.png");
  width: 25px;
  height: 25px;
}

.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}
